<div class="{{ app.request.headers.get('X-Requested-With') is not null ? 'd-none' }} d-print-block p-0 w-100">
    <div class="text-center" style="width: 320px; height: 320px;">

        <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" style="margin-top: 150px;" fill="currentColor"
             viewBox="10 10 30 30">
            {{ qrcode|raw }}
        </svg>

        <h6 class="w-100 fw-bolder mt-3">
            # {{ item.invariable.number }}
        </h6>

        <div class="w-100">
            Количество: <strong>{{ item.invariable.quantity }} шт.</strong>
        </div>
    </div>
</div>