
{#{{ dd(1) }}#}

test content !!!!


<div class="row cards-box-body mt-3">
    {% for item in query.data %}

        {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}

    {% else %}

        <div class="alert alert-warning m-3 w-100" role="alert">

            <div class="d-flex align-items-baseline gap-3">
                <div>
                    <div class="icon rounded-circle bg-contain p-2 bg-primary text-white"
                         style="width: 10px; height: 10px;"><span class="small">!</span></div>
                </div>
                <div class="small lh-1">
                    Информация по данному запросу отсутствует
                </div>
            </div>

        </div>
    {% endfor %}
</div>