Тестовый текст


<table class="table table-striped table-borderless mt-3"
       style='--bs-table-striped-bg: rgba(249,249,249,0.7);'>
    <thead>
    <tr>
        <th>#</th>

        <th class="text-center">Обновление</th>
        <th class="text-nowrap">QR партии</th>
        <th>Производственная партия</th>
        <th class="text-center text-nowrap">Завершающий этап</th>

        <th class="text-center">Состояние</th>
        <th class="text-center">Производство</th>
        <th class="text-center">Количество</th>


    </tr>
    </thead>
    <tbody>

    {% for item in query.data %}
        {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}
    {% endfor %}

    </tbody>
</table>